<a href="https://colab.research.google.com/github/sudheertiaa/python-gen-ai/blob/main/my_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 100
if

In [ ]:
a = 10
b=a+100000000

'''
test this one

'''
print (b)

100000010

In [1]:
print('My name is : Sudheer Manchikanti')

My name is : Sudheer Manchikanti

In [2]:
print("I love reading books")

I love reading books

In [7]:
a = input("Enter your Name " )
print("Your entered name is :",a)

Enter your Name asdfasdf
Your entered name is : asdfasdf

In [ ]:
# Function to calculate the factorial of a number
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Main program
print("Welcome to the Factorial Calculator!")

# Input
while True:
    num_str = input("Enter a positive integer (or 'q' to quit): ")

    if num_str.lower() == 'q':
        print("Thank you for using the Factorial Calculator. Goodbye!")
        break

    try:
        num = int(num_str)
        if num < 0:
            print("Please enter a positive integer.")
            continue

        # Calculate and output the factorial
        result = factorial(num)
        print(f"The factorial of {num} is: {result}")

        # Additional output using a while loop
        print("Factors:")
        factor = 1
        while factor <= num:
            if num % factor == 0:
                print(factor, end=" ")
            factor += 1
        print("\n")

    except ValueError:
        print("Invalid input. Please enter a positive integer or 'q' to quit.")

Welcome to the Factorial Calculator!
Enter a positive integer (or 'q' to quit): 4
The factorial of 4 is: 24
Factors:
1 2 4

Enter a positive integer (or 'q' to quit): 10
The factorial of 10 is: 3628800
Factors:
1 2 5 10

Enter a positive integer (or 'q' to quit): q
Thank you for using the Factorial Calculator. Goodbye!

In [ ]:
# Initialize a list and a set
fruits_list = ["apple", "banana", "cherry", "apple", "date"]
fruits_set = {"apple", "banana", "cherry", "date"}

print("Original list:", fruits_list)
print("Original set:", fruits_set)

# List functions
print("\nList functions:")
fruits_list.append("elderberry")
print("After append():", fruits_list)

fruits_list.remove("banana")
print("After remove():", fruits_list)

print("Count of 'apple':", fruits_list.count("apple"))

fruits_list.sort()
print("After sort():", fruits_list)

fruits_list.reverse()
print("After reverse():", fruits_list)

# Set functions
print("\nSet functions:")
fruits_set.add("fig")
print("After add():", fruits_set)

fruits_set.remove("banana")
print("After remove():", fruits_set)

new_fruits = {"grape", "honeydew", "apple"}
fruits_set.update(new_fruits)
print("After update():", fruits_set)

print("Is 'apple' in set?", "apple" in fruits_set)

# Set operations
veggies_set = {"carrot", "date", "eggplant"}
print("\nVeggies set:", veggies_set)

print("Union:", fruits_set.union(veggies_set))
print("Intersection:", fruits_set.intersection(veggies_set))
print("Difference (fruits - veggies):", fruits_set.difference(veggies_set))

Original list: ['apple', 'banana', 'cherry', 'apple', 'date']
Original set: {'date', 'cherry', 'banana', 'apple'}

List functions:
After append(): ['apple', 'banana', 'cherry', 'apple', 'date', 'elderberry']
After remove(): ['apple', 'cherry', 'apple', 'date', 'elderberry']
Count of 'apple': 2
After sort(): ['apple', 'apple', 'cherry', 'date', 'elderberry']
After reverse(): ['elderberry', 'date', 'cherry', 'apple', 'apple']

Set functions:
After add(): {'cherry', 'apple', 'fig', 'banana', 'date'}
After remove(): {'cherry', 'apple', 'fig', 'date'}
After update(): {'cherry', 'grape', 'honeydew', 'apple', 'fig', 'date'}
Is 'apple' in set? True

Veggies set: {'eggplant', 'carrot', 'date'}
Union: {'cherry', 'grape', 'carrot', 'honeydew', 'apple', 'fig', 'eggplant', 'date'}
Intersection: {'date'}
Difference (fruits - veggies): {'cherry', 'grape', 'honeydew', 'fig', 'apple'}

In [ ]:
from re import M
my_list = [i for i in range(-10, -1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

In [ ]:
a = lambda x, y : x*y
print(a(7, 19))
print(7*19)

133
133